@import url("https://fonts.cdnfonts.com/css/formula-a");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  top: 15px;
  color: white;
  background-color: black;
  padding: 8px;
  margin: 8px;
  border-radius: 20px;
  font-family: "FORMULA-A", sans-serif;
  width: 200px;
  height: 310px;
  overflow: hidden;
  background-color: rgba(200, 196, 196, 0.5);
  transition: transform 0.5s;
}

.container:hover {
  box-shadow: paleturquoise;
  transform: scale(1.05) rotate(2deg);
  background-color: rgb(142, 4, 4);
}

.image {
  width: 150px;
  height: 170px;
  overflow: hidden;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.name {
  color: black;
  font-size: 14px;
}

.teams{
  color: black;
  font-size: 14px;
}

.container:hover .name {
  color: white;
}

.container:hover .teams {
  color: white;
}