@import url("https://fonts.cdnfonts.com/css/formula-a");

.filtercontainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.orderselect,
.teamselect,
.driverselect {
  margin-right: 10px;
  padding: 5px;
  font-family: "FORMULA-A", sans-serif;
}