@import url("https://fonts.cdnfonts.com/css/formula-a");

.container {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  min-width: 250px;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.pageContent {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.button {
  height: 45px;
  font-family: "FORMULA-A", sans-serif;
  width: 100px;
  margin-top: 25px;
  left: 80px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(200, 196, 196, 0.5);
  transition: transform 0.5s;
}

.button :hover {
  box-shadow: paleturquoise;
  transform: scale(1.05) rotate(2deg);
  background-color: rgba(200, 196, 196, 0.5);
}

.backButton {
  border: none; /* Borde inicial */
  padding: 5px 10px;
  transition: transform 0.5s;
  font-family: "FORMULA-A", sans-serif;
  border-radius: 10px;
  box-shadow: inset 0px 20px 20px 0px #6c686885, inset 0px -8px 20px 1px #090404;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.63));
}

.backButton:hover {
  box-shadow: paleturquoise;
  transform: scale(1.06);
  background-color: rgba(200, 196, 196, 0.5);
}
