@import url("https://fonts.cdnfonts.com/css/formula-a");

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente fila si no hay espacio suficiente */
  justify-content: center; /* Distribuye el espacio alrededor de las tarjetas */
  margin: 20px;
}



.button {
  height: 45px;
  font-family: "FORMULA-A", sans-serif;
  width: 100px;
  margin-top: 25px;
  left: 80px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(200, 196, 196, 0.5);
  transition: transform 0.5s;
}

.button:hover {
  box-shadow: paleturquoise;
  transform: scale(1.05) rotate(2deg);
  background-color: rgba(200, 196, 196, 0.5);
}

.buton {
  height: 45px;
  font-family: "FORMULA-A", sans-serif;
  width: 100px;
  margin-top: 80px;
  left: 80px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(200, 196, 196, 0.5);
  transition: transform 0.5s;
}

.buton:hover {
  box-shadow: paleturquoise;
  transform: scale(1.05) rotate(2deg);
  background-color: rgba(200, 196, 196, 0.5);
}