

.cards {
    flex-basis: calc(
      25% - 5px
    ); /* Ancho inicial del 25% con espacio de 10px entre ellas */
    margin-bottom: 20px;
    box-sizing: border-box;
    max-width: calc(
      25% - 5px
    ); /* Limita el ancho máximo para evitar que se desborde */
  }